%br/
%table.table.table-striped.table-bordered
  %tr
    %th Todos
    %th Time Left
    %th Completed?
  - @todos.each do |t|
    %tr
      %td= t.description
      %td= distance_of_time_in_words(Date.today, t.created_at.to_date + 7.days)
      %td= link_to 'Delete', user_todo_path(@user, t), method: :delete
%p= link_to 'New To-do', new_user_todo_path(@user, @todo)
