%table
  %tr
    %th Todos
    %th Created At
    %th Completed
  - @todos.each do |t|
    %tr
      %td= t.description
      %td= t.created_at
      %td
        %input{ type: "checkbox" }
  %tr= link_to 'New To-do', new_user_todo_path(@user, @todo)
