%table
  %tr
    %th Todos
    %th Time Left
    %th Completed
  - @todos.each do |t|
    %tr
      %td= t.description
      %td= distance_of_time_in_words(t.created_at, t.created_at + 7.days)
      %td= link_to 'Delete', user_todo_path(@user, t), method: :delete
  %tr= link_to 'New To-do', new_user_todo_path(@user, @todo)
